<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>

    <%- login || '<a href="/login">Login</a>' %>  <!-- Fallback if login is undefined -->

  </header>