
body {
  background-image: url('/images/site/checkerboard.jpg');
  background-size: 500px 500px;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  border: 7px solid #01b0d3;
}

/* header styles */
header {
  display: flex;
}

header h1 {
  padding: 10px 0 15px 15px;
  margin-bottom: 0;
}

.account{
  margin-left: auto;
  padding: 20px;
}

.account a {
  text-decoration: none;
  text-transform: uppercase;
}

.account a:hover {
  color: #01b0d3;
}

/* navigation styles */
nav {
  background-color: #242332;
  border: 10px solid #fff;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  font-size: 1.3em;
  font-weight: bold;  
  padding: 0.5em;
  margin: 0.5em;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: #01b0d3;
}

/* hero banner styles */ 
.content h2 {
  padding-left: 15px;
  font-size: 1.8em;
}

.featured-vehicle {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.vehicle-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  grid-column: 2/4;
  grid-row: 1/2;
  z-index: 999;
  color: #01b0d3;
}

.vehicle-info h3 {
  margin: 0.5em 0;
  font-size: 1.5em;
}

.vehicle-info p {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.vehicle-info img {
  margin: 10px;
  width: 150px;
}

.vehicle-image {
  grid-column: 3/7;
  grid-row: 1/2;
}

.vehicle-image img {
  width: 100%;
}

/* vehicle details */
.delorean-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-left: 1rem;
}

/* upgrades */
.upgrades {
  display: flex;
  flex-direction: column;
}

.upgrades h4 {
  margin: 0.5em 0;
  font-size: 1.5em;
}

.upgrade-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
  padding: 2rem;
}

.upgrade-item {
  flex: 1 1 calc(50% - 1rem);
  box-sizing: border-box; 
  text-align: center; 
}

.upgrade-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 0.3rem;
  background-color: #01b0d3;
  border: 1px solid #242332;
  padding: 5px 30px 5px 30px;
}

.upgrade-item a {
  color: #242332;
  font-size: 1.2em;
}

/* reviews */
.reviews {
  display: flex;
  flex-direction: column;
}

.reviews h4 {
  margin: 0.5em 0;
  font-size: 1.5em;
}

.reviews ul {
  margin: 1em 0;
  font-size: 1.2em;
}

.reviews li {
  margin-bottom: 2em;
}

/* footer styles */
footer {
  margin: 1em;
}

/* inventory display */
#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
  padding: 40px;
}

#inv-display li {
  list-style-type: none;
  text-align: center;
  border: 5px solid #01b0d3;
  border-radius: 10px;
}

#inv-display img {
  width: 100%;
  border-radius: 10px;
}

/* vehicle details */
.vehicle-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vehicle-detail img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-bottom: 1px solid #ddd;
  /* margin-bottom: 20px; */
  flex: 1 1 40%;
}

.vehicle-detail .details {
  flex: 1 1 60%;
  padding: 20px;
  background-color: var(--secondary-color-variant-2);
  border-radius: 0.5rem;
}

.vehicle-detail .details p {
  margin: 10px 0;
  border-bottom: solid 1px var(--primary-color-variant-1);
}

.vehicle-detail .details strong {
  display: inline-block;
  width: 120px;
}

/* flash message */
.notice li {
  list-style: none;
  color: red;
}

/* login styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.container h1 {
  color: #015D6F;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.login-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #01b0d3;
}

.card {
  width: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control .label-text-alt {
  font-size: 1.7rem;
  text-decoration: none;
}

.form-control .label-text-alt:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  width: 100%;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #01b0d3;
}

.signup-link {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #555;
}

.signup-link a {
  color: #01b0d3;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* management view */
.management-list {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

.management-list li {
  margin-bottom: 1em;
}

.alert-error, .alert-success, .alert-danger {
  color: red;
}

/* media query for smaller screen */
@media screen and (max-width: 768px) {
  /* body */
  body {
    background-image: none;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
  }

  .container {
    width: 100%;
  }

  /* wrapper */
  #wrapper {
    width: 100%;
    border: 0px;
  }

  /* header */
  header h1{
    font-size: 1.5em;;
  }

  .account {
    font-size: 0.8em;
  }

  /* navigation */
  nav li {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
  }

  nav a {
    padding: 0;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav{
    border: 0px;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  /* featured vehicle */
  .content h2 {
    font-size: 1.2em;
  }
  .vehicle-info {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .vehicle-image {
    grid-column: 3/8;
    grid-row: 1/2;
    margin-top: 0.5em;;
  }
  .vehicle-info h3 {
    margin: 0.3em 0;
    font-size: 1em;
  }
  
  .vehicle-info p {
    margin: 0.3em 0;
    font-size: 0.8em;
  }
  
  .vehicle-info img {
    margin: 10px;
    width: 70px;
  }

  /* vehicle details */
  .delorean-details {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.5rem;
  }

  /* reviews */
  .reviews h4 {
    margin: 0.5em 0;
    font-size: 1.2em;
  }
  
  .reviews ul {
    margin: 0;
    font-size: 0.8em;
    padding-left: 1em;
  }
  
  .reviews li {
    margin-bottom: 1em;
  }

  /* upgrades */  
  .upgrades h4 {
    margin: 0.5em 0;
    font-size: 1.2em;
  }

  .upgrade-items {
    padding: 0;
    gap: 0.5rem;
  }

  .upgrade-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .upgrade-item img {
    margin: 0;
  }

  .upgrade-item a{
    font-size: 0.8em;
    margin-top: 0.5rem;
  }

  /* footer */
  footer {
    font-size: 0.8em;
  }
}